[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sjSDM"]
	path = sjSDM
	url = https://github.com/theoreticalecology/s-jsdm
	subdir = sjSDM
